[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/glad"]
	path = external/glad
	url = https://github.com/Dav1dde/glad.git
	branch = glad2
